.env
venv/
__pycache__/
user_data.json
apps.py
ass.py
feeder.js
testform.html
main.py
database_errors.log
delete.py
getdb.py
testmail.html
tiktok_img-rmbg.png
x_image-rmbg.png
x_image.jpg
tiktok_img.jpg
.vscode/settings.json